.container {
	display: grid;
	grid-template-areas:
		"imagebox imagebox"
		"nav nav"
		"content content";
	grid-template-columns: auto;
	gap: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.menubar {
	grid-area: menubar;
	padding:10px;
	display: grid;
	grid-template-areas:
		"header header"
		"left-menu right-menu";
	grid-template-columns: 1fr 1fr;
	position: fixed;
	z-index:1;
	top: 0;
	width: 100%;
	background-color:white;
	box-shadow: 0px 7px 3px rgba(220, 220, 220, .2);
}

.left_menu {
	padding-left: 50px;
}

.left_menu > a,
.right_menu > a,
.user-name {
	font: small-caps bold 20px/1 sans-serif;
	color: black;
	text-decoration: None;
	padding-left: 10px;
	padding-right: 10px;
}

.right_menu {
	text-align: right;
	padding-right: 50px;
}

a.button,
nav button,
.login-box > form > button,
.new-user-box > form > button,
.order-box button {
	background-color: rgb(100,100,100);
	border: none;
	color: white;
	padding: 4px 25px;
	font: small-caps 20px/1 sans-serif;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

a.button:hover,
nav button:hover,
.pizza-option button:hover,
.close-menu:hover,
.login-box > form > button:hover,
.new-user-box > form > button:hover,
.order-box button:hover {
	background-color: rgb(150,150,150)
}	

.left_menu > a:hover,
.right_menu > a:hover,
.user-name:hover,
.dropdown-menu > a:hover,
.dropdown:hover,
nav a:hover {
	text-decoration: underline;
}

.imagebox {
	grid-area: imagebox;
	padding: 0;
    display: block;
    margin: 0 auto;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 90%;
    max-width: 98%;
}

.dropdown {
	position: relative;
	display: inline-block;
	font: small-caps bold 20px/1 sans-serif;
	color: black;
}

.dropdown > a {
	text-decoration: None;
	color: black;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 120px;
	padding: 10px;
	text-align:center;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu > a {
	font: small-caps 20px/1 sans-serif;
	color: black;
	text-decoration: None;
}

header {
	grid-area: header;
	text-align: center;
	font: small-caps bold 30px/1 sans-serif;
	background: white;
}

nav {
	grid-area: nav;
	font: small-caps bold 20px/1 sans-serif;
	padding:10px;
	box-shadow: 0px 7px 3px rgba(220, 220, 220, .2);
	position:sticky;
	top: 180px;
	background-color: white;
}

nav a {
	font: small-caps 20px/1 sans-serif;
	color: black;
	text-decoration: None;
	padding-right:10px;
	padding-left: 10px;
}

nav input[type=search] {
  padding: 5px;
  margin-top: 2px;
  font-size: 15px;
}

main {
	grid-area: content;
}

.category-header {
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;
	background-color: rgb(230,230,230);
	padding: 5px 20px;
}

.category-header h2 {
	text-align:center;
	font: small-caps bold 28px/1 sans-serif;
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding-top:10px;
	padding-left:150px;
	padding-right:150px;
	margin-left:10px;
}

.box-content {
	font-family: Helvetica, sans-serif;
	padding: 10px;
	margin: 20 px;
	background-color:white;
	box-shadow: 0px 7px 3px rgba(210, 210, 210, .2);
	
}

.box-content button {
	background-color: rgb(100,100,100);
	border: none;
	color: white;
	padding: 4px 8px;
	font: small-caps 20px/1 sans-serif;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.order-menu {
	font-family: Helvetica, sans-serif;
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 60px;
}

.menu-content {
	background-color: rgb(255, 255, 255);
	margin: 1% auto 15% auto;
	width: 30%;
	position:relative;
}

.pizza-option {
	padding: 16px;
	box-shadow: 0px 7px 3px rgba(210, 210, 210, .2);
	position:relative;
}

.pizza-option button,
.close-menu {
	  background-color: rgb(100,100,100);
	  border: none;
	  color: white;
	  padding: 5px 25px;
	  font: small-caps 20px/1 sans-serif;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  position:absolute;
}

.close-menu {
	font-size: 15px;
	top: 5px;
	right: 5px;
}

.pizza-option button{
	bottom: 5px;
}

h3 {
	font: small-caps bold 20px/1 sans-serif;
}

.login-box,
.new-user-box,
.order-box {
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	margin: 5% auto 15% auto;
	width: 30%;
	position:relative;
	top: 170px;
	/*z-index:-1;*/
}

.login-box > form {
	display: grid;
	max-width: 18em;
    grid-template-columns: 8em 10em;
}

.login-box > form > label,
.new-user-box > form > label{
	grid-column-start: 1;
}

.login-box > form > input,
.new-user-box > form > input{
	grid-column-start: 2;
}

.login-box > form > button {
	grid-row: 5;
	grid-column-start: 2;
}

.login-box > p,
.new-user-box > p {
	padding: 5px;
	text-align: center;
	background: blanchedalmond;
}		

.login-box > form label, input,
.new-user-box > form label, input {
    margin: auto 0;
}

.new-user-box > form {
	display: grid;
	max-width: 20em;
    grid-template-columns: 10em 10em;
}

.new-user-box > form > button {
	grid-row: 7;
	grid-column-start: 2;
}

.order-box-content > form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
}

.order-box-content  h3,
.order-box-content p,
.order-box-content ul {
	grid-column-start: 1;
}

.order-box-content  label,
.order-box-content button {
	grid-column-start: 2;
	justify-self: center;
	align-self: center;
}

.order-box-content > form h3, label {
    margin: auto 0;
}

.order-box h2 {
	font: small-caps bold 28px/1 sans-serif;
}

.order-box h3 {
	font: small-caps bold 20px/1 sans-serif;
}	

ul {
	list-style: none;
	padding:0px;
	font-size: 15px;
	color: grey;
}

li:before {
    content: "+";
    margin-right: 2px;
}

.animate {
	-webkit-animation: animatezoom 0.3s;
	animation: animatezoom 0.3s
}
  
@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}
  
@keyframes animatezoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}
