<!--<!DOCTYPE html>

<html>
	<head>
		<title>Nanan Pizza</title>
		<link rel="stylesheet" href="../static/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		
	</head>
	<body>
			<div class="menubar">
				<header><h1>Nanan Pizza</h1></header>
				<div class="left_menu">
					<a href="/">Etusivu</a>
					<div class="dropdown">
						<a href="new">Menu</a>
						<div class="dropdown-menu">
							<a href="#Pizzat">Pizzat</a></br>
							<a href="#Salaatit">Salaatit</a></br>
							<a href="#Juomat">Juomat</a>
						</div>
					</div>
				</div>
				<div class="right_menu">
					<a href="login">Kirjaudu</a>
					<a href="new">Rekisteröidy</a>
				</div>
			</div>-->
			{% extends "layout.html" %}
			{% block title %}Etusivu{% endblock %}
			{% block content %}
			<div class="imagebox">
				<img src="../static/img/pizza2.jpg">
			</div>
			<div class="container">
			<nav>
			<input type="search" id="site-search" name="q" placeholder="Etsi valikoimasta"><button>Hae</button>
			<a href="#Pizzat">Pizzat</a>
			<a href="#Salaatit">Salaatit</a>
			<a href="#Juomat">Juomat</a>
			</nav>
			<main>
				<h2 id="Pizzat">Pizzat</h2>
				<p>Pizzat on valmistettu laadukkaita italialaisia raaka-aineita käyttäen. Jokainen pizza sisältää tomaattikastikkeen ja mozzarellajuustoa.
				</p>
				<div class="box">
					{% for pizza in pizzas %}
					<div><h3>{{pizza.name}}</h3>
					<p>{{pizza.ingredients}}<br>
					<strong>{{pizza.price}}</strong>
					</p></div>
					{% endfor %}
				</div>
				<h2 id="Salaatit">Salaatit</h2>
				<p>Salaatit on valmistettu tuoreista ja laadukkaista raaka-aineista.
				</p>
				<div class="box">
					{% for salad in salads %}
                                        <div><h3>{{salad.name}}</h3>
                                        <p>{{salad.ingredients}}<br>
                                        <strong>{{salad.price}}</strong>
                                        </p></div>
                                        {% endfor %}
				</div>
				<h2 id="Juomat">Juomat</h2>
				<div class="box">
					{% for drink in drinks %}
                                        <div><h3>{{drink.name}}</h3>
                                        <p>
                                        <strong>{{drink.price}}</strong>
                                        </p></div>
                                        {% endfor %}
				</div>
			</main>
			<aside>
			<h2><a href="login">Kirjaudu sisään</a> tehdäksesi tilaus!</h2>
			<p>Eikö sinulla ole käyttäjätunnusta? <br>
			<a href="new">Luo uusi käyttäjätunnus!</a>
			</p>
			</aside>
			
		</div>
		{% endblock %}
	<!--</body>
</html>-->
