<!DOCTYPE html>

<html>
	<head>
		<title>Nanan Pizza</title>
		<link rel="stylesheet" href="../static/styles.css">
	</head>
	<body>
		<div class="container">
			<header><h1>Nanan Pizza</h1></header>
			<nav>
			<input type="search" id="site-search" name="q" placeholder="Etsi valikoimasta"><button>Hae</button>
			<a href="#Pizzat">Pizzat</a>
			<a href="#Salaatit">Salaatit</a>
			<a href="#Juomat">Juomat</a>
			</nav>
			<main>
				<h2 id="Pizzat">Pizzat</h2>
				<p>Pizzat on valmistettu laadukkaita italialaisia raaka-aineita käyttäen. Jokainen pizza sisältää tomaattikastikkeen ja mozzarellajuustoa.
				</p>
				<div class="box">
					{% for pizza in pizzas %}
					<div><h3>{{pizza.name}}</h3>
					<p>{{pizza.ingredients}}<br>
					<strong>{{pizza.price}}</strong>
					</p></div>
					{% endfor %}
				</div>
				<h2 id="Salaatit">Salaatit</h2>
				<p>Salaatit on valmistettu tuoreista ja laadukkaista raaka-aineista.
				</p>
				<div class="box">
					<div>#1 Salaatti</div>
					<div>#2 Salaatti</div>
					<div>#3 Salaatti</div>
					<div>#4 Salaatti</div>
				</div>
				<h2 id="Juomat">Juomat</h2>
				<div class="box">
					<div>#1 Juoma</div>
					<div>#2 Juoma</div>
					<div>#3 Juoma</div>
					<div>#4 Juoma</div>
				</div>
			</main>
			<aside>
			<!--<p>{% if session.username %}
			<h2>Hei, {{ session.username }}!</h2>
			{% else %}
			<h2><a href="/login">Kirjaudu sisään</a> tehdäksesi tilaus!</h2>
			<form action="/login" method="POST">
			<input type="text" placeholder="Syötä käyttäjätunnus" name="uname" required><br>
			<input type="password" placeholder="Syötä salasana" name="psw" required><br>
			<input type="submit" value="Kirjaudu">
			</form>
			{% endif %}
			<button> Luo uusi tunnus</button></p>-->
			<h2><a href="login">Kirjaudu sisään</a> tehdäksesi tilaus!</h2>
			<p>Eikö sinulla ole käyttäjätunnusta? <br>
			<a href="new">Luo uusi käyttäjätunnus!</a>
			</p>
			</aside>
			
		</div>
	</body>
</html>
