<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/styles.css">
		<title>Nanan Pizza - {% block title %}{% endblock %}</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div class="menubar">
			<header><h1>Nanan Pizza</h1></header>
			<div class="left_menu">
				{% if session.user_id %}
				<a href="/logged">Etusivu</a>
				{% else %}
				<a href="/">Etusivu</a>
				{% endif %}
			</div>
			<div class="right_menu">
				{% if session.user_id %}
				<div class="dropdown">
					<span class="user-name">{{session.user_name}}<span>
					<div class="dropdown-menu">
						<a href="/logout">Kirjaudu ulos</a>
					</div>
				</div>
				<a href="/view_orderlist" class="button">Tilaa</a>
				{% else %}
				<a href="/login">Kirjaudu</a>
				<a href="/create">Rekisteröidy</a>
				{% endif %}
			</div>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>