<!DOCTYPE html>

<html>
	<head>
		<title>Nanan Pizza login</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<h1>Kirjaudu sisään</h1>
		<form action="/submit" method="POST">
		<label for="uname">Käyttäjätunnus: </label>
       		<input type="text" placeholder="Syötä käyttäjätunnus" id="uname" name="uname" maxlength="10" required><br>
		<label for="psw">Salasana: </label>
       	 	<input type="password" placeholder="Syötä salasana" id="psw" name="psw" maxlength="15" required><br>
        	<button type="submit" value="submit">Kirjaudu</button>
        	</form>
		<p>Eikö sinulla ole käyttäjätunnusta? <a href="new">Luo uusi käyttäjätunnus!</a>
		</p>
	</body>
</html>
