{% extends "layout.html" %}
{% block title %}Tilauslista{% endblock %}
{% block content %}
	<div class="order-box">
		<h2>Tilauksesi:</h2>
		{% if orders %}
			{% for order in orders %}
			<div class="order-box-content">
				<form action="/remove_item" method="POST">
					<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
					<input type="hidden" name="order_id" value="{{order.id}}">
					<h3>{{order.name}}</h3>
					<label>{{order.price}} €</label>
					<p>{{order.size}}</p>
					{% if order.extras %}
						<ul>
						{% for extra in order.extras %}
							<li>{{extra}}</li>
						{% endfor %}
						</ul>
					{% endif %}
					<button type="submit" value="submit">Poista</button>
				</form>
			</div>
			{% endfor %}
			<hr>
			<h3>Loppusumma:</h3>
			<p>{{price}} €</p>
			<form action="/logged">
				<button type="submit" value="submit">Jatka tilausta</button>
			</form>
			<form action="/submit_order">
				<button type="submit" value="submit">Lähetä tilaus</button>
			</form>
		{% else %}
		<p>Et ole lisännyt tuotteita tilaukseen :(</p>
		<form action="/logged">
			<button type="submit" value="submit">Jatka tilausta</button>
		</form>
		{% endif %}
	</div>
{% endblock %}
