<!DOCTYPE html>

<html>
	<head>
		<title>Nanan Pizza</title>
		<link rel="stylesheet" href="../static/styles.css">
	</head>
	<body>
		<div class="container-option">
			<h2>Tilauksesi:</h2>
			{% if orders %}
			    {% for order in orders %}
			    <form action="/remove_item" method="POST">
			    <input type="hidden" name="item_id" value="{{order[0]}}">
			    <h3>{{order[1]}} {{order[0]}}</h3>
			    <h4>lisätäytteet:</h4>
			    <ul>
				{% for extra in order[3] %}
				    <li>{{extra}}</li>
				{% endfor %}
			    </ul>
			        <input type="submit" value="Poista tuote tilauksesta"/>
			    </form>
			    {% endfor %}
			    <h4>hinta:</h4>
			    <p>{{price}} €</p>
			    <form action="/logged">
			        <input type="submit" value="Jatka tilausta"/>
			    </form>
			    <form action="/submit_order">
			    	<input type="submit" value="Lähetä tilaus"/>
			    </form>
			{% else %}
			<p>Et ole lisännyt tuotteita tilaukseen :(</p>
			<form action="/logged">
				<input type="submit" value="Jatka tilausta" />
			</form>
			{% endif %}
		</div>
	</body>
</html>
